{
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "semi": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["src/allCards.ts"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
