rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /games/{game} {
      allow           read: if request.auth.uid == resource.data.owner
                            || request.auth.uid in resource.data.players;
      allow update, delete: if request.auth.uid == resource.data.owner;

      function ownerOrPlayer() {
        return request.auth.uid == get(/databases/$(database)/documents/games/$(game)).data.owner
            || request.auth.uid in get(/databases/$(database)/documents/games/$(game)).data.players;
      }

      match /piles/{document=**} {
        allow read, write: if ownerOrPlayer();
      }
    }
  }
}
