rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{user} {
      // 自分以外も直 ID 指定なら読み取れる
      allow    get: if true;

      // 自分だけが更新できる
      allow update: if request.auth.uid == resource.id;

      // list, create, delete は不可
      // 必要なときは Functions トリガーで
    }

    match /games/{game} {
      // 自分以外も直 ID 指定なら読み取れる
      allow                  get: if true;

      // 所有していれば一覧取得、更新、削除は可能
      allow list, update, delete: if request.auth.uid == resource.data.owner;

      // create は不可
      // 必要なときは Functions を呼び出す。

      match /piles/{document=**} {
        // game を指定したうえで一覧取得するのは誰でも可能。
        // collectionGroup としては取得できない。
        allow read, write: if true;
      }
    }
  }
}
